.splash-wrapper {
  position: relative;
}

.sign-up-wrapper{
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sign-up-button, .log-in-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.search-wrapper {
  margin: 2em;
}

.listings-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.listing {
  display: flex;
  margin: 2em 0em;
}

.listing-thumbnail {
  max-width: 200px;
  align-self: center;
}

.listing-address {
  font-size: 1.2em;
}
